* {
    padding: 0;
    margin: 0;
    font-family: century gothic;
    color: black;
    text-decoration: none;
    text-align: center;
}
.titulo {
    padding: 40px;
}

nav ul {
    width: 80%;
    margin: auto;
    border-radius: 15px;
    list-style-type: none;
    background-color: purple;
}
nav li {
    display: inline-flex;
}
nav a {
    padding: 20px;
    width: 150px;
}
nav ul a:hover {
    background-color: white;
}

.contenido {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 40px;
}
.contenido .articulo {
    width: 70%;
    margin: auto;
}
.contenido .articulo div {
    width: 100%;
    padding: 15px;
    /* background-color:; */
    border-radius: 15px;
    margin-bottom: 15px;
    position: relative;
    box-sizing: border-box;
}
.contenido .articulo img {
    width: 200px;
    border-radius: 15px;
}
.contenido .articulo a {
    display: block;
    margin-top: 10px;
    color: blue;
}
.contenido .articulo a:hover {
    color: yellow ;
	
}
.contenido .secundario {
    width: 30%;
}
.contenido .secundario p {
    background-color: #82E0AA;
    border-radius: 15px;
    padding: 20px;
    height: 700px;
}
.piedepagina {
    background-color: #0a246b;
    margin-top: 100px;
}
.piedepagina p {
    padding: 100px;
}
h1 {
		font-size: 60px; 
		color: red; 	 
		padding: 10px; 
		display: inline-block; 
		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9); 
}

h2 {
    color: purple;
}
body {
    background-color:#1a68bc;
	}
a {
		padding: 20px;
		width: 150px;
		text-decoration: underline; 
}
